@using Kooboo.EmailMarketing
@model Campaign
<fieldset>
    <legend><span>@("Spam check".Localize())</span>
        @Html.Tip("The SpamAssassin checker will use many spam rules to check the mail content. <br />Each rule has a score which indicates the spam’s severity. <br />The system will respond with a [Total score]/[Threshold]. <br />If the total score is greater than the threshold, <br />it is very possible your mail will be marked as spam.".Localize())</legend>
    <div id="spam-result" class="table-container clearfix">
        <div style="text-align:center">
            @("Checking...".Localize())
            <img src="@Url.Content("~/images/loading.gif")" />
        </div>
    </div>
</fieldset>
<script type="text/javascript">
    $(function () {
        requestSpamChecking();
    });
    function requestSpamChecking() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("checkspam", "campaign")",
            data: "id=@(ViewBag.Id)",
            success: function (response) {
                if (typeof (response) == 'object') {
                    $("#spam-result").html(response.Message);
                } else {
                    displayCheckingResult(response);
                }
            }
        });
    }
    function displayCheckingResult(html) {
        $("#spam-result").html(html).initArea();
    }
</script>
