@model CreatePasswordModel
@{
    Layout = String.IsNullOrEmpty(WebsiteSettings.SignIn.Layout) ? "_Layout.cshtml" : WebsiteSettings.SignIn.Layout;
    ViewBag.Title = "Reset password".Localize();
} 
<div class="block login">
    <div class="">
        <h6>@("Reset password".Localize())</h6>
        @using (Html.BeginForm())
        {
            <table>
                <tr>
                    <th><label for="Password">@("New password".Localize())</label></th>
                    <td>@Html.PasswordFor(o => o.Password)
                        @Html.ValidationMessageFor(o => o.Password)</td>
                </tr>
                @Html.EditorFor(o => o.ConfirmPassword, new { Required = false })
                <tr>
                    <th></th>
                    <td>
                        <button type="submit">@("Reset".Localize())</button>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>