@model ForgetPasswordModel
@{
    Layout = String.IsNullOrEmpty(WebsiteSettings.SignIn.Layout) ? "_Layout.cshtml" : WebsiteSettings.SignIn.Layout;
    ViewBag.Title = "Reset password".Localize();
} 
<div class="block login">
    <div>
        <h6>@("Reset password".Localize())</h6>
        <p>@("Please enter your username. We will send you an Email with a link to reset your password".Localize())</p>
        @using (Html.BeginForm())
        {
            <table>
                @Html.EditorFor(o => o.UserName, new { Required = false })
                <tr>
                    <th></th>
                    <td>
                        <button type="submit">@("Send".Localize())</button>
                        &nbsp;@("or".Localize())&nbsp;
                        <a href="@Url.Action("signin", "account")">@("Sign in".Localize())</a>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>

