@model Kooboo.EmailMarketing.SubscriberList
<tr>
    <th>@if (Model.SubscribedMailId != null)
        {
            @Html.CheckBoxFor(o => o.EnableSubscribedMail)
        }
        <label for="EnableSubscribedMail">@("Welcome mail".Localize())</label>
        @Html.Tip("Send welcome email to a new subscriber. <br />This is only valid when the user signs up via the sign up form generated above.".Localize())
    </th>
    <td>@if (Model.SubscribedMailId == null)
        { 
            @Html.ActionLink("Create".Localize(), "create", "autoresponder", new { listId = Model.Id, type = "subscribed" }, null)
        }
        else
        {        
            @Html.ActionLink("Edit".Localize(), "content", "autoresponder", new { listId = Model.Id, id = Model.SubscribedMailId }, new { thumb = Url.Action("thumb", "message", new { id = Model.SubscribedMailId }) })
            @:&nbsp;&nbsp;
            @Html.ActionLink("Delete".Localize(), "deleteresponder", "subscriberlist", new { id = ViewBag.Id, type = "subscribed", source = ViewBag.Action }, new { @class = "responder" });
        }
        @Html.HiddenFor(o => o.SubscribedMailId)
    </td>
</tr>
