@{
    Layout = "~/Views/Survey/Form.Master.cshtml";
    ViewBag.Title = "Join verification".Localize();
}
@section Head
{
    <style type="text/css">
        .verify
        {
            font-family: tahoma, arial, helvetica, sans-serif;
            font-size: 12px;
            line-height: 2;
        }
        .verify .notice
        {
        }
    </style>
}
<div class="verify">
    <h2>
        @("This survey requires validation".Localize())</h2>
    <span class="notice">
        @("Before join this survey, please enter your validation message first.".Localize())</span>
    <form method="post" action="@Url.Action("FormVerifyPassword", ViewContext.RequestContext.AllRouteValues())">
    <label for="Password">
        @("Message:".Localize())
    </label>
    <input type="text" name="Password" id="Password" />
    <input type="hidden" name="Id" value="@ViewData["SurveyId"]" />
    <input type="submit" value="OK" />
    @if (ViewData["Incorrect"] == "true")
    { 
        <span style="color: Red;">
            @("The validation message is not correct!".Localize())</span>
    }
    </form>
</div>
