<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>
        @ViewBag.Title
    </title>
    @Html.ExternalResources("jQuery")
    <script type="text/javascript" src="@Url.Content("~/Scripts/yardiTip/yardiTip.js")"></script>
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Styles/webfile.css")" />
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Scripts/yardiTip/yardiTip.css")" />
    @RenderSection("Head", false)
</head>
<body>
    @RenderBody()
</body>
</html>
